<h1>Events Table</h1>
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. No. </th>
        <td mat-cell *matCellDef="let row;let i = index"> {{i+1}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="websiteName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Website </th>
        <td mat-cell *matCellDef="let row"> {{row.websiteName}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Event </th>
        <td mat-cell *matCellDef="let row"> {{row.eventName}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="eventStartDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
        <td mat-cell *matCellDef="let row"> {{row.eventStartDate}} </td>
      </ng-container>

       <!-- Fruit Column -->
       <ng-container matColumnDef="eventEndDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
        <td mat-cell *matCellDef="let row"> {{row.eventEndDate}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let row"> {{row.location}} </td>
      </ng-container>

  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <div class="example-button-row">
    <button mat-button color="primary" (click)="refreshData()">Refresh data</button>
  </div>
  
  
  
  <!-- Copyright 2021 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->